<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="box" >
		<!-- embedded code fo boxcast -->
	<div id="boxcast-widget-{{boxcastEmbedCode}}"></div><script type="text/javascript" charset="utf-8">(function(d, s, c, o) {var js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];var h = (('https:' == document.location.protocol) ? 'https:' : 'http:');js.src = h + '//js.boxcast.com/v3.min.js';js.onload = function() { boxcast.noConflict()('#boxcast-widget-'+c).loadChannel(c, o); };js.charset = 'utf-8';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', "{{boxcastEmbedCode}}", {"showTitle":1,"showDescription":1,"showHighlights":1,"showRelated":false,"market":"house-of-worship","showCountdown":true}));</script>
	</div>
	
</body>
</html>

