{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/all.css' %}" rel="stylesheet">
	<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
	<script src="{% static 'js/update_profile_functionality.js' %}"></script>
	<script src="{% static 'js/dynamic_tournament_matches.js' %}"></script>
</head>

<body class="home">
<style>  
@media only screen and (max-width: 991px){
.line_mobile{
	display:flex;
	flex-direction: column;
	justify-content: space-between; 

}
button{
	margin-right: 25px;
}
#eEmail{
	width:200px;
}
 #viewEmail{
	width:100px;
 }
 .drop{
	 
	padding-bottom: 20px;
 }
 .editName,.editLanguage,#Cancel,#editChange,.editPhone,.editEmail{
	margin-bottom: 10px;
 }

#search{
	width:87%;
	margin-right:3%;
}
.modal-title,.link_active,.link_back{
	font-size:15px;
}

}
</style>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark1 fixed-top">
			<div class="container">
			  <a class="navbar-brand" href="index.html"><img src="{% static 'img/logo.png' %}"><br><span class="live">LIVE</span></a>
			  	
            <ul class="navbar-nav">
				<li class="nav-item">
						<form class="form-inline my-2 my-lg-0" style="display:none;">
								<input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
								<a class="nav-link search1" href="#"><img src="{% static 'img/search-iocn.png' %}"style="height: 23.2px;width:24.3px;display:block;"></a>
						</form>
			
							<a class="nav-link search" href="#"><img src="{% static 'img/search-iocn.png' %}"style="height: 23.2px;width:24.3px;margin-right:23px;"></a>
				</li>
				<li class="nav-item">
					<div class="dropdown">
					<a class="nav-link click" href="#"><img src="{% static 'img/user-icon.png' %}"style="height: 23.2px;width:24.3px;"></a>
					</div>
					<div class="dropdown">
							<div  id="drop" class="dropdown-content" style="top:20px;">
							<div class="links">
								<div style="background-color:rgb(34,34,34);">
									<b><p href="#" id="account">{{userInfo.first_name}}</p></b>
								<div class="plan" style="padding-bottom: 0px;">
									<p href="#" id="plans" style="font-size:14px; margin-right:100px;">Standard Plan</p>
									<a href="#" style="font-size:14px;" data-toggle="modal" data-target="#myModal"  id="sub"><i class="fas fa-cog"></i></a>
								</div>
								</div>
									
									<a href="#" data-toggle="modal" data-target="#myModal"  id="myaccount">Account</a>
									<a href="#" data-toggle="modal" data-target="#myModal"  id="sub">Manage Subscriptions</a>
									<a href="#" data-toggle="modal" data-target="#myModal"  id="help">Help</a>
									<a href="{%url 'logout'%}" id="sign">Sign Out</a>
					        </div>
							</div>
					</div>
				</li>
			</ul>
			  
			</div>
	</nav>
	<!--Modal for account,manage subscriptions and help-->
		<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog fields">
			  
				  <!-- Modal content-->
				  <div class="modal-content">
					
					<div class="modal-body"  style="background-color:rgb( 28, 28, 28);">
						<div style="border-width: 0px 0px 1px 0px; border-color: white; border-style: solid;">
							<h4 class="modal-title" style="float:left;">{{userInfo.first_name}}</h4>
							<h4 class="modal-title" style="float:left; padding-left:5px;"> {{userInfo.last_name}}</h4>
							<button class="close"type="button" class="close" data-dismiss="modal" style="margin: 10px 0px 0px 10px;color:white;float:right;">&times;</button>  
							<br>
							<br>
							<div class="len">
							<a href="#" style="margin-left:15px;" class="account col-xs-4">Account</a>
							<a href="#" style="margin-left:15px;" class="sub col-xs-4">Manage Subscriptions</a>
							<a href="#" style="margin-left:15px;" class="help col-xs-4">Help</a>
							</div>
						</div>
						<br>
						<div class="Changes_Plan" style="display:none;">
							<div class="box">
								<label>Your Subscriptions</label>
							<div class="line">
								<p>Monthly Pro</p>
							<div class="bio">	
								<button id="Cancel">Cancel</button>
								<button  id="editChange">Save</button>
							</div>
							</div>
							</div>
						</div>
						<div class="Changes_Method" style="display:none;">
							<div class="box">
								<label>Payment Method</label>
							<div class="line">
								<p>Paytm</p>
							<div class="bio">	
								<button id="Cancel">Cancel</button>
								<button  id="editChange">Save</button>
							</div>
							</div>
							</div>
						</div>
						<div class="Account">
							<div class="box Name">
								<label>Name</label>
								<div class="line">
									<p id="fullName">{{userInfo.first_name}} {{userInfo.last_name}}</p>
									<button id="edit" class="editName">Edit Now</button>
								</div>
							</div>

							<!-- to send the data to our edit_profile_functionality.js -->
							<script>
						    var CSRF_TOKEN_GLOBAL = '{{ csrf_token }}';
						    var FACEBOOK_APP_ID_GLOBAL='{{FACEBOOK_APP_ID}}';
				        var ACCOUNT_KIT_API_VERSION_GLOBAL='{{ACCOUNT_KIT_API_VERSION}}';
							</script>

							<div class="ChangesName" style="display: none;">
								<div class="box">
									<label>Name</label>
									<form id="eNameC">
										<div class="line line_mobile">
											<p><input  id="eName1" type="text" value="{{userInfo.first_name}}" autofocus>
											<input  id="eName2" type="text" value="{{userInfo.last_name}}" autofocus></p>
											<div class="bio">	
												<button id="Cancel"type="button">Cancel</button>
												<button  id="editChange" onclick="changeNameAjax(document.getElementById('eName1').value,document.getElementById('eName2').value)">Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>
		
							<div class="box Language">
								<label>Language</label>
								<div class="line">
									<p>English</p>
									<button id="edit" class="editLanguage">Edit Now</button>
								</div>	
							</div>
							<div class="ChangesLanguage" style="display:none;">
								<div class="box">
									<label>Language(Check to add and uncheck to remove languages)</label>
									<form id="eLanguage">
										<div class="line line_mobile">	
											<p><input type="radio" type="radio" name="language" value="english"  checked>English</p>
											<p><input type="radio" name="language" value="malayalam" >മലയാളം</p>
											<div class="bio">
												<button id="Cancel"type="button">Cancel</button>
												<button id="editChange" type="submit">Save</button>
											</div>
										</div>
									</form>
								</div>								
							</div>
			
		
							<div class="box Phone">
								<label>Phone Number</label>
								<div class="line">	
									<p id="oldPhone">{{userInfo.app_auth_data_id.phone_number}}</p>
									<button class="editPhone">Edit Now</button>
								</div>
							</div>
							<div class="ChangesPhone" style="display:none;">
								<div class="box">
									<label>Phone Number</label>
									<form id="ePhone">
										<div class="line">								
											<p>
												<select id="sel" size = "1">
													<option></option>
													<option value="+91">India (+91)</option>
													<option value="+44">United Kingdom (+44)</option>
													<option value="+1">United States (+1)</option>
													<option value="+61">Australia (+61)</option>
													<option value="+33">France (+33)</option>
												</select>
											</p>
											<p>
												<input id="eNumber" type="text" value="{{userInfo.app_auth_data_id.phone_number}}" autofocus>
											</p>
											<input name="accountkit_data" type="hidden" id="accountkit_data">										
											<div class="bio">	
												<button id="Cancel"type="button">Cancel</button>
												<button  id="editChange" type="button" onclick="changePhoneAjax(document.getElementById('sel').options[document.getElementById('sel').selectedIndex].value,document.getElementById('eNumber').value)">Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>
			
							<script type="text/javascript">
									var verifyButton=false;
							</script>
							<div class="box Email">	
								<label>Email Address</label>
								<div class="line">
									<p id="emailWithoutEdit">{{userInfo.email}}</p>
									{%if userInfo.email_verified%}
										<div id="addVerifyButton"></div>
									{%else%}
										<button id="verifyEmail" onclick="verifyEmailAjax()">Verifiy</button>
										<script type="text/javascript">
											verifyButton=true;
										</script>										
									{%endif%}
									<p id="emailSent"></p>
									<button class="editEmail">Edit Now</button>
								</div>
							</div>

							<div class="ChangesEmail" style="display:none;">
								<div class="box">
									<label>Email Address</label>
									<form id="eEmailC">
										<div class="line">
											<p><input id="eEmail" type="text" value="{{userInfo.email}}" autofocus size="35"></p>
											<div class="bio">	
												<button id="Cancel"type="button">Cancel</button>
												<button  id="editChange" type="button" onclick="changeEmailAjax()">Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>		
						</div>

						<div class="Subscriptions">
							<div class="box">
								<label>Next Payment Date</label>
								<div class="line">
									<p>25 December,2019</p>
									<button><a href="#" data-toggle="modal" data-target="#myModal2" style="text-decoration: none;color:rgb(203,203,203);">Renew</a></button>
								</div>
							</div>
							<div class="box">
								<label>Update your Subscriptions</label>
								<div class="line">
									<p>Monthly Pro</p>
									<p class="subcribe">Yearly Subcriptions</p>
									<button>Update</button>
								</div>
							</div>
							<div class="box">
								<label>Cancel Subscriptions</label>
								<form action="{%url 'cancel'%}" method="POST">
								{% csrf_token %}
								<div class="line">
									<p>If you wish to cancel click cancel</p>
									<input type="hidden" name="mobile" value="{{userInfo.app_auth_data_id.phone_number}}">
									<button  type="submit">Cancel</button>
								</div>
								</form>
							</div>
						</div>

						<div class="Help">
							<div class="box">
								<label>Drop Us a mail At</label>
								<div class="line">
									<p>support@goalstar.com</p>
									<button><a href="mailto:goalstar%40support%2ecom?subject=Help&body=Type your query" style="text-decoration: none;color:rgb(203,203,203);">Email Now</a></button>
								</div>
							</div>
							<div class="box">
								<label>Chat with us</label>
								<div class="line">
									<p>Click on 'Chat Now' to enable chat</p>
									<button>Chat Now</button>
								</div>
							</div>
						</div>						
					</div>
			  </div>		
			</div>	  
		</div>
<!--Modal for the choices of payment-->
		<div id="myModal2" class="modal fade" role="dialog">
			<div class="modal-dialog">
				  
			<!-- Modal content-->
			<div class="modal-content payment-modal" style="background-color: #212529;">
				<div class="modal-body">
					<form action="{%url 'checkout'%}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="name" value="{{userInfo.first_name}} {{userInfo.last_name}}">
					<input type="hidden" name="mobile" value="{{userInfo.app_auth_data_id.phone_number}}">
					<input type="hidden" name="email" value="{{userInfo.email}}">

					<div class="row">							
							<div class="col-md-6 payment-selection"><a href=""><p class="payment-plans">Monthly Plan</p></a>
							</div>							
							<div class="col-md-6 payment-selection"><a href=""><p class="payment-plans">Yearly Plan</p></a>
							</div>
					</div>
					
						<div class="payment-position">
								<input type="submit" class="button payment" value="Select and Pay">
						</div>
					</form>
				</div>
				  
			</div>
			</div>
		</div>
<!--Header for the slider behind the dropdown and all-->		
		<header>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		    <div class="cou_bles"></div>
		      <img class="d-block w-100 sws-none" src="{% static 'img/b1.png' %}" alt="Third slide">
		      <img class="d-block w-100 sws-block" src="{% static 'img/m1.png' %}" alt="First slide">
		      	<div class="carousel-caption  d-block">
				    <div class="row text-left ">
				      	<div class="col-md-6">
				      		<h3 class="text-uppercase font-weight-bold">Eagles Fc <br><span class="me_orang_text">vs</span><br>Malabar United fc</h3>
				      	</div>
				   	</div>
				</div>
		    </div>
		    <div class="carousel-item">
		    	<div class="cou_bles"></div>
		      <img class="d-block w-100 sws-none" src="{% static 'img/b1.png' %}" alt="Third slide">
		      <img class="d-block w-100 sws-block" src="{% static 'img/m1.png' %}" alt="First slide">
		    </div>
		    <div class="carousel-item">
		    	<div class="cou_bles"></div>
		      <img class="d-block w-100 sws-none" src="{% static 'img/b1.png' %}" alt="Third slide">
		      <img class="d-block w-100 sws-block" src="{% static 'img/m1.png' %}" alt="First slide">
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</header>
	<section id="cur_mt">
		<div class="container">
			<h2>CURRENT <span class="me_orang_text font-weight-bold">MATCH</span></h2>
			<div class="row">
				<div class="col-md-8 col-12">
			    	<div class="i-over"></div>
			      	<img src="{% static 'img/ground-current.png' %}">
					<div class="cur_gro">
						<div class="row">
							<div class="col-md-6 col-6 part-left text-center">
								<h4 class=""><span>Kerala Evergeen FC</span></h4>
							</div>
							<div class="col-md-6 col-6 part-right text-center">
								<h4 class=""><span>Gokulam Karela FC</span></h4>
							</div>
							<div class="col-md-4 col-4 tm_s text-center">
								<img src="{% static 'img/team1.png' %}" width="100%">
								<h3>3</h3>
							</div>
							<div class="col-md-4 col-4 text-center">
								<span class="t_vs">VS</span>
							</div>
							<div class="col-md-4 col-4 tm_s text-center">
								<img src="{% static 'img/team2.png' %}" width="100%">
								<h3 class="tm_lef">2</h3>
							</div>
							<div class="col-md-12 text-center mt-5 ">
								<a class="btn sws-block me_orang_bgc text-white font-weight-bold" href="javascript:void(0);">WATCH NOW</a>
								<h4 class="font-weight-light"><span class="live">LIVE</span> from JLN Stadium</h4></div>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 m-auto sws-none">
					<h4 class="text-uppercase me_orang_text font-weight-bold">XYZ Tournament</h4>
					<p>Lorem ipsum dolor sit amet, con-sectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua est laborum.</p>
					<a class="btn me_orang_bgc text-white font-weight-bold" href="javascript:void(0);">WATCH NOW</a>
				</div>
			</div>
		</div>
	</section>

	<!-- tournament details -->
	<section id="toun_dtl" class="s_150">
		<div class="container">
			<h2>TOURNAMENT <span class="me_orang_text font-weight-bold">DETAILS</span></h2>
		</div>
		<div class="container ">
			<div class="container-slider"></div>
			<div class="slider">
				<!-- use trn as context object to receive all tournament details -->
				{%for tournament in trn%}
				  <div class="slick-slideshow__slide">
				  	<div class="overlays">
				   		<!-- getting image for each tournament -->
				   		<img src="media/{{tournament.tournament_detail_image}}">
		            	<div class="toum_del {% cycle '' 'bor-top-red' 'bor-top-blue' %}">
		            		<div class="toum_info">
		            				<!-- getting name of each tournament -->
		                		<h5>{{tournament.name}}</h5>
		                		<h5>Football Tournament</h5>
		                		<span class="more_btn" id="tournament-{{tournament.id}}" href="javascript:void(0);"><i class="fa fa-chevron-down sws-none"></i><span class="text-uppercase sws-block">Know More</span></span>
		                	</div>
		            	</div>
	            	</div>
				  </div>
				{%endfor%}
			</div>
		</div>
		<!-- container store intro,match,organizor of particular tournament -->
		<div class="container">
			<div class="oversss"></div>
	        <div class="more_info_tab">
	        	<div class="incre_d">
	        		<nav>
							  <div class="nav nav-tabs" id="nav-tab" role="tablist">
							    <a class="nav-item nav-link active" id="nav-home-h-tab" data-toggle="tab" href="#nav-home-h" role="tab" aria-controls="nav-home-h" aria-selected="true">Introduction</a>
							    <a class="nav-item nav-link" id="nav-profile-p-tab" data-toggle="tab" href="#nav-profile-p" role="tab" aria-controls="nav-profile-p" aria-selected="false" >Matches</a>
							    <a class="nav-item nav-link" id="nav-profile-y-tab" data-toggle="tab" href="#nav-profile-y" role="tab" aria-controls="nav-profile-y" aria-selected="false">Organizors</a>
							  </div>
						</nav>
						<div class="tab-content mt-5" id="nav-tabContent">
						  <div class="tab-pane fade show active" id="nav-home-h" role="tabpanel" aria-labelledby="nav-home-h-tab">
						  	<div class="row">
						  		<div class="col-md-5">
						  			<h3 class="text-uppercase" id="tournament_name">Koyappa Sevens <br>Football Tournament</h3>
						  			<h6 class="me_orang_text" id="tournament_matches_and_date">16 Matches | Feb 2020-April 2020</h6>
						  			<p id="tournament_introduction">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
						  			<h4 id="tournament_venue">Venue: Kadalundi Ground</h4>
						  		</div>
						  		<div class="col-md-1"></div>
						  		<div class="col-md-5" style="background-color: rgba(0,0,0,0.4);padding: 4%;">
						  			<h4 class="font-weight-nomal sws-none mb-4">Next Match</h4>
						  			<h4 class="font-weight-nomal sws-block text-uppercase">upcomming Match</h4>
						  			<div class="row text-center up_tms">
								  		<div class="col-md-4 col-3">
								  			<img src="{% static 'img/ukfc.png' %}">
								  		</div>
								  		<div class="col-md-4 col-2">
								  			<span class="tms_vs">VS</span>
								  			<p class=" sws-none"><span class="live">LIVE</span> on</p>
								  			<p class="sws-none">17 May at 14:05 PM</p>
								  		</div>
								  		<div class="col-md-4 col-3">
								  			<img src="{% static 'img/muvat.png' %}">
								  		</div>
								  		<div class="col-md-4 col-4 sws-block">
								  			<p><span class="live">LIVE</span> on</p>
								  			<p>17 May at 14:05 PM</p>
								  		</div>
								  	</div>
						  		</div>
						  	</div>
					  </div>

					  <!-- match grid -->
					  <div class="tab-pane fade" id="nav-profile-p" role="tabpanel" aria-labelledby="nav-profile-p-tab">
					  	<div class="slider_4" id="match_griddd">
								<!-- create slide usind DOM manipulation -->
					  		<!-- <div class="slick-slideshow__slide_4">
			                	<img src="{% static 'img/1554700132_Football.jpg' %}">
			                	<div class="slid_4">
			                    	<h6>Gokolam Kerala FC</h6>
			                    	<small>VS</small>
			                    	<h6>Kerala Evergreen FC</h6>
			                    	<p><span class="live">LIVE</span> on</p>
			                	</div>
			                </div>
			               	 -->
	            </div>
					  </div>
					  <div class="tab-pane fade" id="nav-profile-y" role="tabpanel" aria-labelledby="nav-profile-y-tab">
					  	<div class="row">
					  		<div class="col-md-2 col-4">
					  			<h6 class="text-uppercase me_orang_text">Title</h6>
					  			<ul class="mb-3">
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  			<h6 class="text-uppercase me_orang_text">Title</h6>
					  			<ul class="mb-4">
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  			<h6 class="text-uppercase me_orang_text pt-3">Title</h6>
					  			<ul class="mb-3">
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  			<h6 class="text-uppercase me_orang_text">Title</h6>
					  			<ul>
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  		</div>
					  		<div class="col-md-2 col-4">
					  			<h6 class="text-uppercase me_orang_text">Title Team</h6>
					  			<ul class="sws-sp">
					  				<li>Vivek Shyam Khan</li>
					  				<li>Leena Kariyii</li>
					  				<li>Mohammad Salah</li>
					  				<li>Roger Federer</li>
					  				<li>Serena Williams</li>
					  				<li>Ronnie O Sullivan</li>
					  				<li>Andrew Symonds</li>
					  				<li>Saina Nehwal</li>
					  				<li>Kobe Bryant</li>
					  				<li>Michael Schumacker</li>
					  				<li>Michael Phelps</ul>
					  		</div>
					  		<div class="col-md-2 col-4">
					  			<h6 class="text-uppercase me_orang_text">Title Team</h6>
					  			<ul>
					  				<li>Vivek Shyam Khan</li>
					  				<li>Leena Kariyii</li>
					  				<li>Mohammad Salah</li>
					  				<li>Roger Federer</li>
					  				<li>Serena Williams</li>
					  			</ul>
					  			<h6 class="text-uppercase me_orang_text">Title Team</h6>
					  			<ul>
					  				<li>Vivek Shyam Khan</li>
					  				<li>Leena Kariyii</li>
					  				<li>Mohammad Salah</li>
					  				<li>Roger Federer</li>
					  			</ul>
					  		</div>
					  		<div class="col-md-2 col-4">
					  			<h6 class="text-uppercase me_orang_text">Title</h6>
					  			<ul class="mb-3">
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  			<h6 class="text-uppercase me_orang_text">Title</h6>
					  			<ul class="mb-4">
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  			<h6 class="text-uppercase me_orang_text pt-3">Title</h6>
					  			<ul class="mb-3">
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  			<h6 class="text-uppercase me_orang_text">Title</h6>
					  			<ul>
						  			<li>Vivek Shyam Khan</li>
						  		</ul>
					  		</div>
					  		<div class="col-md-2 col-4">
					  			<h6 class="text-uppercase me_orang_text">Title Team</h6>
					  			<ul class="sws-sp">
					  				<li>Vivek Shyam Khan</li>
					  				<li>Leena Kariyii</li>
					  				<li>Mohammad Salah</li>
					  				<li>Roger Federer</li>
					  				<li>Serena Williams</li>
					  				<li>Ronnie O Sullivan</li>
					  				<li>Andrew Symonds</li>
					  				<li>Saina Nehwal</li>
					  				<li>Kobe Bryant</li>
					  				<li>Michael Schumacker</li>
					  				<li>Michael Phelps</ul>
					  		</div>
					  		<div class="col-md-2 col-4">
					  			<h6 class="text-uppercase me_orang_text">Title Team</h6>
					  			<ul>
					  				<li>Vivek Shyam Khan</li>
					  				<li>Leena Kariyii</li>
					  				<li>Mohammad Salah</li>
					  				<li>Roger Federer</li>
					  				<li>Serena Williams</li>
					  			</ul>
					  			<h6 class="text-uppercase me_orang_text">Title Team</h6>
					  			<ul>
					  				<li>Vivek Shyam Khan</li>
					  				<li>Leena Kariyii</li>
					  				<li>Mohammad Salah</li>
					  				<li>Roger Federer</li>
					  			</ul>
					  		</div>

					  	</div>
					  </div>
					</div>
					<span class="sws-block text-uppercase ces">cancel</span>
	        	</div>

	        </div>
		</div>
	</section>

	<section id="up_gm">
		<div class="container">
			<h2>UPCOMMING <span class="me_orang_text font-weight-bold">GAME</span></h2>
		  	<div class="row text-center up_tms">
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/ukfc.png' %}">
		  			<h5 class="sws-block text-uppercase">Evergreen kerala FC</h5>
		  		</div>
		  		<div class="col-md-2 col-4">
		  			<span class="tms_vs">VS</span>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/muvat.png' %}">
		  			<h5 class="sws-block text-uppercase">Gokulam kerala FC</h5>
		  		</div>
		  		<div class="col-md-4 sws-none">
		  			<h6 class="mt-1">ABC Champions League</h6>
		  			<p class="me_orang_text"><span class="live">LIVE</span> on</p>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 upnots  col-2"><i class="fa fa-bell fa-2x me_orang_text"></i></div>
		  	</div>
		  	<div class="row text-center up_tms bor-left-green">
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/ukfc.png' %}">
		  			<h5 class="sws-block text-uppercase">Evergreen kerala FC</h5>
		  		</div>
		  		<div class="col-md-2 col-4">
		  			<span class="tms_vs">VS</span>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/muvat.png' %}">
		  			<h5 class="sws-block text-uppercase">Gokulam kerala FC</h5>
		  		</div>
		  		<div class="col-md-4 sws-none">
		  			<h6 class="mt-1">ABC Champions League</h6>
		  			<p class="me_orang_text"><span class="live">LIVE</span> on</p>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 upnots  col-2"><i class="fa fa-bell fa-2x me_orang_text"></i></div>
			</div>
		  	<div class="row text-center up_tms bor-left-blue">
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/ukfc.png' %}">
		  			<h5 class="sws-block text-uppercase">Evergreen kerala FC</h5>
		  		</div>
		  		<div class="col-md-2 col-4">
		  			<span class="tms_vs">VS</span>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/muvat.png' %}">
		  			<h5 class="sws-block text-uppercase">Gokulam kerala FC</h5>
		  		</div>
		  		<div class="col-md-4 sws-none">
		  			<h6 class="mt-1">ABC Champions League</h6>
		  			<p class="me_orang_text"><span class="live">LIVE</span> on</p>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 upnots  col-2"><i class="fa fa-bell fa-2x me_orang_text"></i></div>
			</div>
		  	<div class="row text-center up_tms">
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/ukfc.png' %}">
		  			<h5 class="sws-block text-uppercase">Evergreen kerala FC</h5>
		  		</div>
		  		<div class="col-md-2 col-4">
		  			<span class="tms_vs">VS</span>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/muvat.png' %}">
		  			<h5 class="sws-block text-uppercase">Gokulam kerala FC</h5>
		  		</div>
		  		<div class="col-md-4 sws-none">
		  			<h6 class="mt-1">ABC Champions League</h6>
		  			<p class="me_orang_text"><span class="live">LIVE</span> on</p>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 upnots  col-2"><i class="fa fa-bell fa-2x me_orang_text"></i></div>
			</div>
		  	<div class="row text-center up_tms bor-left-green">
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/ukfc.png' %}">
		  			<h5 class="sws-block text-uppercase">Evergreen kerala FC</h5>
		  		</div>
		  		<div class="col-md-2 col-4">
		  			<span class="tms_vs">VS</span>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 col-3">
		  			<img src="{% static 'img/muvat.png' %}">
		  			<h5 class="sws-block text-uppercase">Gokulam kerala FC</h5>
		  		</div>
		  		<div class="col-md-4 sws-none">
		  			<h6 class="mt-1">ABC Champions League</h6>
		  			<p class="me_orang_text"><span class="live">LIVE</span> on</p>
		  			<p class="me_orang_text">17 May at 14:05 PM</p>
		  		</div>
		  		<div class="col-md-2 upnots  col-2"><i class="fa fa-bell fa-2x me_orang_text"></i></div>
			</div>
			<h6 class="text-center mt-5 pt-5 "><a href="#" class="btn me_orang_bgc font-weight-bold rounded-0 pl-5 pr-5">SEE ALL</a></h6>
		</div>
	</section>
	<section id="toun_dtl_1" class="s_150">
		<div class="container">
			<h2>MATCH <span class="me_orang_text font-weight-bold">HIGHLIGHTS</span></h2>
            <div class="slider_2">
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
		  		<div class="slick-slideshow__slide_2">
                	<span class="onplay"></span>
                	<img src="{% static 'img/1554700132_Football.jpg' %}">
                    <h5>Kozhikode Kings vs Idukki Idiots</h5>
                </div>
            </div>
		</div>
	</section>


	<section id="toun_dtl_2" class="s_150">
		<div class="container">
			<h2>TRENDING <span class="me_orang_text font-weight-bold">NOW</span></h2>
			<div class="slider_3">
		  		<div class="slick-slideshow__slide_3">
                	<img src="{% static 'img/player3.png' %}">
                	<div class="toum_del">
                		<div class="toum_info">
                			<span class="B-left"></span>
                			<span class="B-top"></span>
                			<span class="B-right"></span>
                			<span class="B-bottom"></span>
                    		<h2>MY<br>UNTOLO<br>JOURNEY</h2>
                    	</div>
                	</div>
                </div>
		  		<div class="slick-slideshow__slide_3">
                	<img src="{% static 'img/player3.png' %}">
                	<div class="toum_del">
                		<div class="toum_info">
                			<span class="B-left"></span>
                			<span class="B-top"></span>
                			<span class="B-right"></span>
                			<span class="B-bottom"></span>
                    		<h2>MY<br>UNTOLO<br>JOURNEY</h2>
                    	</div>
                	</div>
                </div>
		  		<div class="slick-slideshow__slide_3">
                	<img src="{% static 'img/player3.png' %}">
                	<div class="toum_del">
                		<div class="toum_info">
                			<span class="B-left"></span>
                			<span class="B-top"></span>
                			<span class="B-right"></span>
                			<span class="B-bottom"></span>
                    		<h2>MY<br>UNTOLO<br>JOURNEY</h2>
                    	</div>
                	</div>
                </div>
		  		<div class="slick-slideshow__slide_3">
                	<img src="{% static 'img/player3.png' %}">
                	<div class="toum_del">
                		<div class="toum_info">
                			<span class="B-left"></span>
                			<span class="B-top"></span>
                			<span class="B-right"></span>
                			<span class="B-bottom"></span>
                    		<h2>MY<br>UNTOLO<br>JOURNEY</h2>
                    	</div>
                	</div>
                </div>
		  		<div class="slick-slideshow__slide_3">
                	<img src="{% static 'img/player3.png' %}">
                	<div class="toum_del">
                		<div class="toum_info">
                			<span class="B-left"></span>
                			<span class="B-top"></span>
                			<span class="B-right"></span>
                			<span class="B-bottom"></span>
                    		<h2>MY<br>UNTOLO<br>JOURNEY</h2>
                    	</div>
                	</div>
                </div>
		  		<div class="slick-slideshow__slide_3">
                	<img src="{% static 'img/player3.png' %}">
                	<div class="toum_del">
                		<div class="toum_info">
                			<span class="B-left"></span>
                			<span class="B-top"></span>
                			<span class="B-right"></span>
                			<span class="B-bottom"></span>
                    		<h2>MY<br>UNTOLO<br>JOURNEY</h2>
                    	</div>
                	</div>
                </div>
            </div>
		</div>
	</section>
	<footer>
		<p>FOOTER</p>
	</footer>
	<script src="{% static 'js/jquery.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
				
  	<script type="text/javascript">
  		var cheas=0;
  		var $carousel = $('.slider');
		var settings = {
		  dots: false,
		  arrows: true,
		  slide: '.slick-slideshow__slide',
		  slidesToShow: 4,
		  centerMode: true,//variableWidth: true,
		  centerPadding: '60px',
		  responsive: [
		  	{
		      breakpoint: 1920,
		      settings: {
		        slidesToShow: 4,
		        slidesToScroll: 1,
		        infinite: true,
		        dots: false
		      }
		    },
		    {
		    	// change kiya
		      breakpoint: 1024,
		      settings: {
		      	centerPadding: '30px',
		      	centerMode: true,
		        slidesToShow: 2,
		        slidesToScroll: 1,
		        infinite: true,
		        dots: false
		      }
		    },
		    {
		      breakpoint: 600,
		      settings: {
		      	centerMode: true,
		        slidesToShow: 3,
		        slidesToScroll: 1
		      }
		    },
		    {
		      breakpoint: 480,
		      settings: {
		      	centerPadding: '60px',
		      	centerMode: true,
		        slidesToShow: 2,
		        slidesToScroll: 1
		      }
		    }
		  ]
		};
		$carousel.slick(settings);
		$(".search").click(function(){
			$(".search").hide();
			$(".search1").show();
			$(".form-inline").show();

		})
		$(".search1").click(function(){
			$(".search1").hide();			
			$(".search").show();
			$(".form-inline").hide();

		})
		$("#eNameC").submit(function(e) {
		$(".Name,.Language,.Phone,.Email,.Account").show();
		$(".ChangesName").hide();
		e.preventDefault(); // avoid to execute the actual submit of the form.
		
		var form = $(this);
		var url = form.attr('action');

		$.ajax({
	   type: "POST",
	   url: url,
	   data: $(this).serialize(),
	   success: function(data)
	   {
		   console.log("Success");
	   }
	 	});
		});
		$("#eLanguage").submit(function(e) {
		$(".Name,.Language,.Phone,.Email,.Account").show();
		$(".ChangesLanguage").hide();
		});
		$("#ePhone").submit(function(e) {
		$(".Name,.Language,.Phone,.Email,.Account").show();
		$(".ChangesPhone").hide();
		});
		$("#eEmailC").submit(function(e) {
		$(".Name,.Language,.Phone,.Email,.Account").show();
		$(".ChangesEmail").hide();
		});

			
		//code to add or remove modal views
		$(".editName").click(function(){
		$(".Name,.ChangesLanguage,.Help,.Subscriptions,.ChangesPhone,.ChangesEmail").hide();
		$(".ChangesName,.Language,.Phone,.Email,.Account").show();
		jQuery.fn.putCursorAtEnd = function() {
				return this.each(function() {
		// Cache references
		var $el = $(this),
		el = this;

		// Only focus if input isn't already
		if (!$el.is(":focus")) {
			$el.focus();
		}

		// If this function exists... (IE 9+)
		if (el.setSelectionRange) {

		// Double the length because Opera is inconsistent about whether a carriage return is one character or two.
		var len = $el.val().length * 2;
	
		// Timeout seems to be required for Blink
		setTimeout(function() {
		el.setSelectionRange(len, len);
		}, 1);
  
		} else {
	
		// As a fallback, replace the contents with itself
		// Doesn't work in Chrome, but Chrome supports setSelectionRange
		$el.val($el.val());
	
		}

		// Scroll to the bottom, in case we're in a tall textarea
		// (Necessary for Firefox and Chrome)
		this.scrollTop = 999999;
		});
		};

		(function() {
		var searchInput = $(".eName");

		searchInput
		.putCursorAtEnd() // should be chainable
		.on("click", function() { // could be on any event
		searchInput.putCursorAtEnd()
		});

		})();
		$(".sub,.help").addClass("link_back");
		$(".sub,.help").removeClass("link_active");
		$(".account").addClass("link_active");
		$(".account").removeClass("link_back");	
		});	
		$(".editPhone").click(function(){
				$(".ChangesName,.ChangesLanguage,.Help,.Subscriptions,.Phone,.ChangesEmail").hide();
				$(".Name,.Language,.ChangesPhone,.Email,.Account").show();
				$("#eNumber").focus();
				jQuery.fn.putCursorAtEnd = function() {

				return this.each(function() {

  				// Cache references
  				var $el = $(this),
  				el = this;

  				// Only focus if input isn't already
  				if (!$el.is(":focus")) {
	   			$el.focus();
  				}

 				 // If this function exists... (IE 9+)
  				if (el.setSelectionRange) {

				// Double the length because Opera is inconsistent about whether a carriage return is one character or two.
				var len = $el.val().length * 2;

				// Timeout seems to be required for Blink
				setTimeout(function() {
 				 el.setSelectionRange(len, len);
				}, 1);

				  } else {

				// As a fallback, replace the contents with itself
				// Doesn't work in Chrome, but Chrome supports setSelectionRange
				$el.val($el.val());

				  }

				  // Scroll to the bottom, in case we're in a tall textarea
				  // (Necessary for Firefox and Chrome)
				  this.scrollTop = 999999;

				});

				};

			(function() {

			var searchInput = $("#eNumber");

			searchInput
			.putCursorAtEnd() // should be chainable
			.on("click", function() { // could be on any event
			searchInput.putCursorAtEnd()
			});

			})();

				$(".sub,.help").addClass("link_back");
				$(".sub,.help").removeClass("link_active");
				$(".account").addClass("link_active");
				$(".account").removeClass("link_back");		
				
			})
			$(".editLanguage").click(function(){
				$(".ChangesName,.Language,.Help,.Subscriptions,.ChangesPhone,.ChangesEmail").hide();
				$(".Name,.ChangesLanguage,.Phone,.Email,.Account").show();
				$(".sub,.help").addClass("link_back");
				$(".sub,.help").removeClass("link_active");
				$(".account").addClass("link_active");
				$(".account").removeClass("link_back");		
				
			})

			$(".editEmail").click(function(){
				$(".ChangesName,.ChangesLanguage,.Help,.Subscriptions,.ChangesPhone,.Email").hide();
				$(".Name,.Language,.Phone,.ChangesEmail,.Account").show();
				$("#eEmail").focus();
				jQuery.fn.putCursorAtEnd = function() {

				return this.each(function() {

  				// Cache references
  				var $el = $(this),
  				el = this;

  				// Only focus if input isn't already
  				if (!$el.is(":focus")) {
	   			$el.focus();
  				}

  				// If this function exists... (IE 9+)
  				if (el.setSelectionRange) {

				// Double the length because Opera is inconsistent about whether a carriage return is one character or two.
				var len = $el.val().length * 2;

				// Timeout seems to be required for Blink
				setTimeout(function() {
				 el.setSelectionRange(len, len);
				}, 1);

				} else {

				// As a fallback, replace the contents with itself
				// Doesn't work in Chrome, but Chrome supports setSelectionRange
				$el.val($el.val());

  				}

  				// Scroll to the bottom, in case we're in a tall textarea
  				// (Necessary for Firefox and Chrome)
  				this.scrollTop = 999999;

				});

				};

				(function() {

				var searchInput = $("#eEmail");

				searchInput
				.putCursorAtEnd() // should be chainable
				.on("click", function() { // could be on any event
				searchInput.putCursorAtEnd()
				});

				})();

				$(".sub,.help").addClass("link_back");
				$(".sub,.help").removeClass("link_active");
				$(".account").addClass("link_active");
				$(".account").removeClass("link_back");		
				
			})
			$("#myaccount,.account, #Cancel, #editChange").click(function(){
				$(".ChangesName,.ChangesLanguage,.ChangesPhone,.ChangesEmail,.Subscriptions,.Help,.dropdown-content").hide();
				$(".Name,.Language,.Phone,.Email,.Account").show();
				$(".sub,.help").addClass("link_back");
				$(".sub,.help").removeClass("link_active");
				$(".account").addClass("link_active");
				$(".account").removeClass("link_back");		
				
			})
			$("#sub,.sub").click(function(){
				$(".Account,.Help,.dropdown-content").hide();
				$(".Subscriptions").show();
				$(".account,.help").addClass("link_back");
				$(".account,.help").removeClass("link_active");
				$(".sub").addClass("link_active");
				$(".sub").removeClass("link_back");		
				
			})

			$("#help,.help").click(function(){
				$(".Account,.Subscriptions,.dropdown-content").hide();
				$(".Help").show();
				$(".sub,.account").addClass("link_back");
				$(".sub,.account").removeClass("link_active");
				$(".help").addClass("link_active");
				$(".help").removeClass("link_back");		
				
			})

		var $slider_2 = $('.slider_2');
		var settings_slider_2 = {
		  dots: false,
		  arrows: true,
		  slide: '.slick-slideshow__slide_2',
		  slidesToShow: 4,
		  centerMode: true,//variableWidth: true,
		  centerPadding: '60px',
		    infinite: false,
		  responsive: [
		    {
		      breakpoint: 1024,
		      settings: {
		        slidesToShow: 3,
		        slidesToScroll: 3,
		        infinite: true,
		        dots: true
		      }
		    },
		    {
		      breakpoint: 600,
		      settings: {
		        slidesToShow: 2,
		        slidesToScroll: 1
		      }
		    },
		    {
		      breakpoint: 480,
		      settings: {
		      	centerPadding: '10px',
		        slidesToShow: 1.8,
		        slidesToScroll: 1
		      }
		    }
		  ]
		};
		$slider_2.slick(settings_slider_2);
		
		var $slider_3 = $('.slider_3');
		var settings_slider_3 = {
		  dots: false,
		  arrows: true,
		  slide: '.slick-slideshow__slide_3',
		  slidesToShow: 5,
		  //centerMode: true,//variableWidth: true,
		  centerPadding: '60px',
		  responsive: [
		    {
		      breakpoint: 1024,
		      settings: {
		        slidesToShow: 3,
		        slidesToScroll: 3,
		        infinite: true,
		        dots: true
		      }
		    },
		    {
		      breakpoint: 600,
		      settings: {
		        slidesToShow: 2,
		        slidesToScroll: 2
		      }
		    },
		    {
		      breakpoint: 480,
		      settings: {
		      	centerMode: true,
		      	centerPadding: '105px',
		        slidesToShow: 2,
		        slidesToScroll: 1
		      }
		    }
		  ]
		};
		$slider_3.slick(settings_slider_3);
		
		var $slider_4 = $('.slider_4');
		var settings_slider_4 = {
		  dots: false,
		  arrows: true,
		  slide: '.slick-slideshow__slide_4',
		  slidesToShow: 4,
		  centerMode: true,//variableWidth: true,
		  centerPadding: '130px',
		  responsive: [
		    {
		      breakpoint: 1024,
		      settings: {
		        slidesToShow: 3,
		        slidesToScroll: 3,
		        infinite: true,
		        dots: true
		      }
		    },
		    {
		      breakpoint: 600,
		      settings: {
		        slidesToShow: 2,
		        slidesToScroll: 2
		      }
		    },
		    {
		      breakpoint: 480,
		      settings: {
		        slidesToShow: 1,
		        slidesToScroll: 1
		      }
		    }
		  ]
		};
		$slider_4.slick(settings_slider_4);
		$slider_4.slick('slickGoTo', 2);
		/*$slider_4.slick(settings_slider_4);
		$slider_4.slick('slickGoTo', 2);*/
		
		$(document).ready(function () {
			if($(document).width()<=600)
			{
				$carousel.slick('slickGoTo', 1);
				$slider_2.slick('slickGoTo', 1);
				$slider_3.slick('slickGoTo', 1);
				
			}
			else
			{
				$carousel.slick('slickGoTo', 2);
				$slider_2.slick('slickGoTo', 2);
				$slider_3.slick('slickGoTo', 2);
			}
		});
		$(document).resize(function () {
			if($(document).width()<=600)
			{
				$carousel.slick('slickGoTo', 1);
				$slider_2.slick('slickGoTo', 1);
				$slider_3.slick('slickGoTo', 1);
			}
			else
			{
				$carousel.slick('slickGoTo', 2);
				$slider_2.slick('slickGoTo', 2);
				$slider_3.slick('slickGoTo', 2);
			}
		});
		var chect=0;
    	$(document).ready(function () {
    		$(document).on("click", ".far.fa-bell", function () {
    			$(this).addClass('fa').addClass('active').removeClass('far');
    			setTimeout(function() {
    				$(".fa-bell").removeClass('active');
    			},5000)
    		});
    		$(document).on("click", ".fa.fa-bell", function () {
    			$(this).addClass('far').addClass('active').removeClass('fa');
    			setTimeout(function() {
    				$(".fa-bell").removeClass('active');
    			},5000)
    		});
    		

    		$("#toun_dtl .more_btn").click(function () {
    			var idd=this.id;
    			var len=idd.length;
    			idd=idd.substr(11,len-11);
    			
    			/*alert($(document).width()+' X '+$(document).height())*/

    			// setting of border of tabs and top border
    			if($(document).width()<=600)
				{
	    			var bbc=$(this).parent().parent().css('border-top-color');
	    			$('.more_info_tab .incre_d').css('border-top-color','transparent')
	    			$('.more_info_tab .incre_d .nav-tabs .nav-link').css('border-bottom-color',bbc);
	    			var newco=bbc.replace('rgb','rgba');
	    			newco=newco.replace(')',',0.3)');
	    			$(".slid_4").css('background-color',newco);
				}
				else
				{
	    			var bbc=$(this).parent().parent().css('border-bottom-color');
	    			$('.more_info_tab .incre_d').css('border-top-color',bbc)
	    			$('.more_info_tab .incre_d .nav-tabs .nav-link').css('border-bottom-color',bbc)
	    			var newco=bbc.replace('rgb','rgba');
	    			newco=newco.replace(')',',0.3)');
	    			req_color=newco;
	    			$(".slid_4").css('background-color',newco);
	    		}


    			if($(this).hasClass('btnActive') && chect==1)
    			{
    				$(this).parent().parent().parent().removeClass('at-iver');
    				$(this).find('i').removeClass('acv');
    				$(".more_info_tab").removeClass('t_show');
    				$(this).removeClass('btnActive');	
    				$(this).find('i').removeClass('acv');
    				chect=1;
    			}
    			else if($(this).hasClass('btnActive') && chect==0)
    			{
    				$(".overlays.at-iver").removeClass('at-iver');
    				$("#toun_dtl .more_btn").removeClass('btnActive');
    				$("#toun_dtl .more_btn").find('i').removeClass('acv');
    				chect=0;
    			}
    			else
    			{
    				$(".overlays.at-iver").removeClass('at-iver');
    				$("#toun_dtl .more_btn").removeClass('btnActive');
    				$("#toun_dtl .more_btn").find('i').removeClass('acv');
    				chect=0;
    			}

    			if(chect==0)
    			{
    				var idd=this.id;
	    			var len=idd.length;
	    			idd=idd.substr(11,len-11);
    				dynamicTrournamentMatches(idd,req_color);
    				$(this).parent().parent().parent().addClass('at-iver');
    				$(this).find('i').addClass('acv');
    				$(".more_info_tab").addClass('t_show');
    				$(this).addClass('btnActive');
    				chect=1;    				
    			}

    			else
    			{
    				$(this).parent().parent().parent().removeClass('at-iver');
    				$(this).find('i').removeClass('acv');
    				$(".more_info_tab").removeClass('t_show');
    				$(this).removeClass('btnActive');
    				chect=0;	
    			}
    		})
    		if($(document).width()<=600)
				{
	    		$(document).on("click", "#toun_dtl .toum_info", function () {
					if($(document).width()<=600)
					{
		    			var bbc=$(this).parent().css('border-top-color');
		    			$('.more_info_tab .incre_d').css('border-top-color','transparent')
		    			$('.more_info_tab .incre_d .nav-tabs .nav-link').css('border-bottom-color',bbc);
		    			var newco=bbc.replace('rgb','rgba');
		    			newco=newco.replace(')',',0.3)');
		    			$(".slid_4").css('background-color',newco);
					}
					else
					{
		    			var bbc=$(this).parent().css('border-bottom-color');
		    			$('.more_info_tab .incre_d').css('border-top-color',bbc)
		    			$('.more_info_tab .incre_d .nav-tabs .nav-link').css('border-bottom-color',bbc)
		    			var newco=bbc.replace('rgb','rgba');
		    			newco=newco.replace(')',',0.3)');
		    			$(".slid_4").css('background-color',newco);
		    		}
	    			if($(this).find('.more_btn').hasClass('btnActive') && chect==1)
	    			{
	    				$(this).parent().parent().removeClass('at-iver');
	    				$(this).find('.more_btn').find('i').removeClass('acv');
	    				$(".more_info_tab").removeClass('t_show');
	    				$(this).find('.more_btn').removeClass('btnActive');	
	    				$(this).find('.more_btn').find('i').removeClass('acv');
	    				chect=1;
	    			}
	    			else if($(this).find('.more_btn').hasClass('btnActive') && chect==0)
	    			{
	    				$(".overlays.at-iver").removeClass('at-iver');
	    				$("#toun_dtl .more_btn").removeClass('btnActive');
	    				$("#toun_dtl .more_btn").find('i').removeClass('acv');
	    				chect=0;
	    			}
	    			else
	    			{
	    				$(".overlays.at-iver").removeClass('at-iver');
	    				$("#toun_dtl .more_btn").removeClass('btnActive');
	    				$("#toun_dtl .more_btn").find('i').removeClass('acv');
	    				chect=0;
	    			}
	    			if(chect==0)
	    			{
	    				$(this).parent().parent().addClass('at-iver');
	    				$(this).find('.more_btn').find('i').addClass('acv');
	    				$(".more_info_tab").addClass('t_show');
	    				$(this).find('.more_btn').addClass('btnActive');
	    				chect=1;
	    			}
	    			else
	    			{
	    				$(this).parent().parent().removeClass('at-iver');
	    				$(this).find('.more_btn').find('i').removeClass('acv');
	    				$(".more_info_tab").removeClass('t_show');
	    				$(this).find('.more_btn').removeClass('btnActive');
	    				chect=0;	
	    			}
				})
			};
    		$("#nav-profile-p-tab").click(function () {
				$('.slider_4').resize();
				$slider_4.slick('slickGoTo', 2);
				$('#nav-profile-p').show();
    		});
    		$("#nav-profile-y-tab").click(function () {
    			$('.slider_4').resize();
				$slider_4.slick('slickGoTo', 2);
				$('#nav-profile-p').hide();
    		});
    		$("#toun_dtl .ls_clo,#toun_dtl .ces").click(function () {
    			chect=0;
    			$(".more_info_tab").removeClass('t_show');	
    		});
    	})
	  </script>
	  <script>
						/* When the user clicks on the button, 
		   toggle between hiding and showing the dropdown content */
		   document.querySelector('.dropdown-content').style.display="none";
		   function myFunction() {
			   var element=document.querySelector('.dropdown-content');
			   if(element.style.display==='none')
			   element.style.display='block';
			   else
			   element.style.display='none';
			   
			   
		   }
		   document.querySelector('.click').addEventListener('click',myFunction);
		   document.getElementById('sel').addEventListener('click', onClickHandler);
		   document.getElementById('sel').addEventListener('mousedown', onMouseDownHandler);

			function onMouseDownHandler(e){
			var el = e.currentTarget;
	
    		if(el.hasAttribute('size') && el.getAttribute('size') == '1'){
    			e.preventDefault();    
    		}
			}
			function onClickHandler(e) {
 			var el = e.currentTarget; 

    		if (el.getAttribute('size') == '1') {
        	el.className += " selectOpen";
        	el.setAttribute('size', '6');
    		}
    		else {
        	el.className = '';
        	el.setAttribute('size', '1');
    		}
			}

	</script>   
</body>
</html>